<div class="article teaser">
  <div class="outer">
    <AngledDivider />
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class='row'>
          <div class="article-title col text-center">
            <LinkTo @route="blog.post" @model={{article.id}} class="h1">
              {{article.title}}
            </LinkTo>
          </div>
          <div class='intro col-12 text-center'>
            {{html-safe article.intro.value}}
          </div>
          <div class='readmore col-12 text-center'>
            <LinkTo @route="blog.post" @model={{article.id}} class="btn btn-light">Read More</LinkTo>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>