<div class="company col-6 col-md-3 col-lg-2">
  <h4>Company</h4>
  <nav>
    <ul>
      <li>

      </li>
    </ul>
  </nav>
</div>
<div class="services col-6 col-md-3 col-lg-2">
  <h4>Services</h4>
  <nav>
    <ul>
      <li>
        </li>
        {{!-- <li>
          {{#link-to "pricing"}}Pricing{{/link-to}}
        </li> --}}
    </ul>
  </nav>
</div>