<footer>
  <div class='container-fluid'>
    <div class='row'>

      <div class='copyright col-12 col-md-6'>
        © 2020 Prio Wealth &nbsp;&nbsp;&nbsp;&nbsp;{{#link-to 'disclosure'}}Disclosure{{/link-to}}&nbsp; <a href="/Prio-2020-Privacy-Notice-AnnualDisclosure.pdf">Privacy Policy</a>&nbsp; |&nbsp;&nbsp;Brand&nbsp;by&nbsp;<a href="http://www.creativemint.com" target="_blank">Creative:MINT</>
      </div>
      <div class='social col-12 col-md-6 d-none'>
        {{#link-to 'index'}}<i class="fab fa-twitter-square"></i>{{/link-to}}&nbsp;&nbsp;{{#link-to 'index'}}<i class="fab fa-facebook-square"></i>{{/link-to}}&nbsp;&nbsp;{{#link-to 'index'}}<i class="fab fa-linkedin"></i>{{/link-to}}

      </div>
    </div>
  </div>
</footer>