<div class="header-wrapper fixed-top w-100">
  <div class="fluid-container">
    <div class="row">
      <div class="menu col-4 col-md-3 col-lg-3">
        {{main-nav}}
      </div>
      <div class="site-info col-4 col-md-6 col-lg-6 text-center">
        {{#link-to "home" class="text-center"}}
          <span class='logo'>LOGO</span>
          <span class='name'> PRIO WEALTH</span>{{/link-to}}
      </div>
      <div class="login col-4 col-md-3 col-lg-3">
      </div>
    </div>
  </div>
</div>

