<div class="snapshot teaser">
  <div class='image'>
    {{#link-to "snapshot" snap.id}}
      <img src="{{snap.thumbnail.url}}" class="img-fluid">
    {{/link-to}}
  </div>
  <div class='title'>
    {{snap.title}} {{#link-to "snapshot" snap.id}}Read More{{/link-to}}
  </div>
</div>