<div class="overlay-container">
  <div class="bread-nav">
    <div class="container-fluid">
      <div class='row'>
        {{#link-to 'contact' class='col text-left'}}<i class="fas fa-caret-circle-up"></i> Back{{/link-to}}
      </div>
    </div>
  </div>
  <div class="outer">
    <div class='overlay'>
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class='row align-self-center justify-content-center'>
            <h1 class="text-center">Contact Us</h1>
            {{contact-form}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
