// @include media-breakpoint-up(xs) { ... }
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }

footer {
  //background: $gray-900;
  color: $gray-900;
  padding: 3.5rem 0 1rem;
  font-family: $font-family-sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
  clear: both;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $white;
  }

  a {
    color: $body-color;


    &:hover,
    &.focus {
      color: $pink;
    }
  }

  .intro {
    margin-bottom: 2rem;
  }
  .contact {
    text-align: center;

    a {
      border-bottom: 0;
    }
    // margin-top: 2rem;

  // @include media-breakpoint-up(xs) { ... }
  // @include media-breakpoint-up(sm) { ... }
  // @include media-breakpoint-up(md) { ... }
  // @include media-breakpoint-up(lg) { ... }
  // @include media-breakpoint-up(xl) { ... }
  }

  .copyright {
    color: $body-color;
    font-size: $font-size-base;
    line-height: 1rem;
    text-align: center;
    margin-bottom: .5rem;

    @include media-breakpoint-up(md) {
      text-align: left;
    }

  }
  .social {
    color: $body-color;
    font-size: 1.5rem;
    line-height: 1rem;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: right;
    }

    a {
      color: $gray-500;


      &:hover,
      &.focus {
        color: $pink;
      }
    }
  }
} // footer
