.main-nav nav {
  font-family: $font-family-sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 0;

      @include media-breakpoint-up(lg) {
        padding: 0;
      }

      .fa-bars {
        color: $gray-500;
        font-size: 30px;
      }
      .dropdown-toggle::after {
        display: none;
        width: 0;
        height: 0;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
    }

      a {
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: none;
        }

        &.active {
          text-decoration: none;
        }
      }

      .dropdown-menu {
        .nav {
          padding-bottom: .5rem;

          a {
            color: #9cabbb;
            padding: .15rem 0 .15rem 50px;
            display: block;
            text-decoration: none;

            &:hover,
            &:focus {
              text-decoration: none;
              color: $black;
              background-color: $dropdown-link-hover-bg;
            }

            &.active {
              text-decoration: none;
              color: $black;
              background-color: $dropdown-link-hover-bg;
            }
          }
        }
      }
    }
  }
}

.navbar {
  &.bg-light {
    background: none !important;
  }
}


.arrow-nav {
  position: absolute;
  right: 0;
  // top: 0;
  width: 60px;

  @extend .align-self-center;
  @extend .col-12;
  @extend .col-sm-5;
  @extend .col-md-6;
  @extend .col-lg-7;
  @extend .col-xl-8;
  @extend .text-right;

  @include media-breakpoint-up(sm) {
    position: relative;
  }


  ul {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    float: right;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;

      a {
        @extend .animated;
        @extend .infinite;
        @extend .pulse;
        text-indent: -9999px;
        height: 50px;
        width: 50px;
        display: block;
        background: transparent center center no-repeat;
        overflow: hidden;
        text-align: left;
        margin: 40px 0;

        @include media-breakpoint-up(sm) {
          margin: 40px 40px;
        }

        &.arrow-up {
          background-image: url('/img/up-arrow.svg');
        }
        &.arrow-down {
          background-image: url('/img/down-arrow.svg');
        }
      }
    }
  }
  &.about {
    // .arrow-up {
    //   background-image: url('/img/up-arrow.svg');

      // @include media-breakpoint-up(sm) {
      //   background-image: url('/img/up-arrow-magenta.svg');
      // }
    // }
    .arrow-down {
      background-image: url('/img/down-arrow.svg');

      @include media-breakpoint-up(sm) {
        background-image: url('/img/down-arrow-magenta.svg');
      }
    }
  }
  &.financial-life {
    .arrow-up {
      background-image: url('/img/up-arrow.svg');

      @include media-breakpoint-up(sm) {
        background-image: url('/img/up-arrow-teal.svg');
      }
    }
    .arrow-down {
      background-image: url('/img/down-arrow.svg');

      @include media-breakpoint-up(sm) {
        background-image: url('/img/down-arrow-teal.svg');
      }
    }
  }
  &.investment {
    .arrow-up {
      background-image: url('/img/up-arrow.svg');

      @include media-breakpoint-up(sm) {
        background-image: url('/img/up-arrow-green.svg');
      }
    }
    .arrow-down {
      background-image: url('/img/down-arrow.svg');

      @include media-breakpoint-up(sm) {
        background-image: url('/img/down-arrow-green.svg');
      }
    }
  }
  &.news {
    .arrow-up {
      background-image: url('/img/up-arrow.svg');

      @include media-breakpoint-up(sm) {
        background-image: url('/img/up-arrow-blue.svg');
      }
    }
    .arrow-down {
      background-image: url('/img/down-arrow.svg');

      @include media-breakpoint-up(sm) {
        background-image: url('/img/down-arrow-blue.svg');
      }
    }
  }
  &.priority {
    .arrow-up {
      background-image: url('/img/up-arrow.svg');

      @include media-breakpoint-up(sm) {
        background-image: url('/img/up-arrow-gray.svg');
      }
    }
    .arrow-down {
      background-image: url('/img/down-arrow.svg');

      @include media-breakpoint-up(sm) {
        background-image: url('/img/down-arrow-gray.svg');
      }
    }
  }
  &.contact {
    .arrow-up {
      background-image: url('/img/up-arrow.svg');

      @include media-breakpoint-up(sm) {
        background-image: url('/img/up-arrow-magenta.svg');
      }
    }
    // .arrow-down {
    //   background-image: url('/img/down-arrow.svg');

    //   @include media-breakpoint-up(sm) {
    //     background-image: url('/img/down-arrow-teal.svg');
    //   }
    // }
  }
}

.bread-nav {
  .fas {
    padding: .15rem;
  }
}
