.news-list,
.blog-list {

  .container-fluid {
    border-top: 1px $gray-600 solid;
  }
  .article {
    border-bottom: 1px $gray-600 solid;

    .date {
      text-transform: uppercase;
      margin-bottom: .5rem;
      font-family: $font-family-sans-serif;
    }

    .image {
      border-bottom: 8px $teal solid;
      min-height: 200px;

      .img {
        background: url("/img/Prio-icon-256.png") center center no-repeat;
        background-size: contain;
        width: 100px;
        height: 100px;
      }
    }

    .more {
      text-transform: uppercase;
      color: $blue;
      font-weight: 500;
      text-decoration: none;
      font-size: .8rem;
      letter-spacing: .1em;
    }
  }
}
