.page-section {
  background-color: $white;
  width: 100%;

  .outer {
    position: relative;

    &.hero-active {

      .overlay {
        @extend .col-12;
        @extend .col-sm-7;
        @extend .col-md-6;
        @extend .col-lg-5;
        @extend .col-xl-4;
        color: $white;
      }


      &.tall {
        .overlay {
          .container-fluid .row {
            min-height: 400px;
            height: calc(100vh);
            padding-top: 125px;

            @include media-breakpoint-up(sm) {
              min-height: 650px;
              height: calc(100vh);
            }

            @include media-breakpoint-up(lg) {
              min-height: 750px;
              height: calc(100vh);
            }
          }
          .section-column {
            display: flex;
          }
        }
      } //tall
    }


    .overlay {
      background-color: transparent;
      position: relative;

      &.overlay-black {
        background-color: rgba($black, 0.4);
      }
      &.overlay-graydark {
        background-color: rgba($gray-700,.8);
      }
      &.overlay-gray {
        background-color: rgba($gray-500,.8);
      }
      &.overlay-graylight {
        background-color: rgba($gray-200,.8);
      }
      &.overlay-white {
        background-color: rgba($white, 0.6);
      }
      &.overlay-green {
        background-color: rgba($green,.8);
      }
      &.overlay-red {
        background-color: rgba($red, 0.5);
      }
      &.overlay-pink {
        background-color: rgba($pink,.8);
      }
      &.overlay-blue {
        background-color: rgba($blue,.8);
      }
      &.overlay-blue-gray {
        background-color: rgba($blue-gray,.8);
      }
      &.overlay-teal {
        background-color: rgba($teal,.8);
      }
      &.overlay-purple {
        background-color: rgba($purple, 0.6);
      }
    } //overlay

    &.background-image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &.section-background-black {
      background-color: $black;
      color: $gray-400;
    } //black

    &.section-background-graydark {
      background-color: $gray-900;
      color: $gray-200;
    } //graydark

    &.section-background-gray {
      background-color: $gray-500;
      color: $gray-100;
    } //gray

    &.section-background-graylight {
      background-color: $gray-200;
      color: $gray-900;
    } //graylight

    &.section-background-blue {
      background-color: $blue;
      color: $gray-100;
    }

    &.section-background-purple {
      background-color: $purple;
      color: $gray-100;
    }

    &.section-background-blue-grad {
      @include gradient-directional($cyan, $blue, 135deg);
    }

    &.section-background-green {
      background-color: $green;
      color: $black;
    }

    &.section-background-pink {
      background-color: $pink;
      color: $gray-100;
    }

    &.section-background-red {
      background-color: $red;
      color: $gray-100;
    }

    &.section-background-black,
    &.section-background-graydark,
    &.section-background-gray,
    &.section-background-graylight,
    &.section-background-blue,
    &.section-background-green,
    &.section-background-pink,
    &.section-background-red {

      .slide-inner {
        svg {
          opacity: 0.9;
          transition-property: opacity;
          transition-duration: 0.25s;
          transition-timing-function: linear, ease-in-out;

          &:hover {
            opacity: 1;
          }

          path,
          rect {
            fill: $white;
          }
        }
      }
    }
    &.section-background-graylight,
    &.section-background-green {

      .slide-inner {
        svg {
          path,
          rect {
            fill: $gray-900;
          }
        }
      }
      .swiper-next,
      .swiper-prev {
        svg {
          path,
          rect {
            fill: $gray-900;
          }
        }
      }
    }
  }
} //.page-section .outer

// .image img{
//   display: block;
// }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  position: relative;
  cursor: grab;

  .slide-inner {
    width: 100%;

    .text {
      svg {
        max-width: 100%;
      }
    }
  }
}
.slideshow {

  .inner {
    position: relative;
    margin-top: 20px;
    padding: 0px 10px;

    @include media-breakpoint-up(md) {
      margin-top: 40px;
      padding: 0px 50px;
    }
  }
}
.swiper-next,
.swiper-prev {
  z-index: 99;
  position: absolute;
  top: 0px;
  left: -30px;
  width: 30px;
  height: 115px;
  border: none;
  border-radius: 0;
  background: none;
  cursor: pointer;
  -webkit-transform: none;
  transform: none;
  opacity: 0.6;
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    width: 60px;
    height: 100%;
  }

  &.swiper-button-disabled {
    opacity: 0.2;
    cursor: unset;
  }

  svg {
    position: absolute;
    left: 20%;
    top: 0;
    width: 60%;
    height: 100%;

      path {
        fill: #fff;
      }
  }
}

.swiper-next {
  left: auto;
  right: -30px;
}


  .section-column {
    @extend .align-self-stretch;

    @media (max-width: 767.98px) {
        padding-left: 7px;
        padding-right: 7px;
      }

      .element-text,
      .element-listing,
      .element-image,
      .element-snapshots,
      .element-accordion,
      .slideshow  {
        @extend .d-flex;
        // @extend .align-items-end;
        // @extend .align-items-md-center;
        // @extend .align-self-stretch;

        padding-left: 0px;
        padding-right: 0px;

        // @media (max-width: 767.98px) {
        //   padding-left: 5px;
        //   padding-right: 5px;
        // }

        .inner {
          @extend .w-100;
        }
      }

    .element-image {
      margin: 0 auto;
    }
  }
  .justify-content-center {
    .section-column {
      &.col {
        max-width: 960px;
      }
    }
  }




.slideover {
  position: relative;
  margin-top: calc(-100vh + 100px);

  @media screen and ( min-height: 400px ){
    // margin-top: calc(-100vh - 220px);
  }

  @media screen and ( min-height: 450px ){
    // margin-top: calc(-100vh - 160px);
  }
  @media screen and ( min-height: 500px ){
    // margin-top: calc(-100vh - 110px);
  }

  @media screen and ( min-height: 550px ){
    // margin-top: calc(-100vh - 80px);
  }

  @media screen and ( min-height: 600px ){
    // margin-top: calc(-100vh - 40px);
  }
  @media screen and ( min-height: 630px ){
    // margin-top: calc(-100vh - 20px);
  }

  @media screen and ( min-height: 650px ){
    // margin-top: calc(-100vh);
  }
  @media screen and ( min-height: 680px ){
    // margin-top: calc(-100vh + 40px);
  }
  @media screen and ( min-height: 700px ){
    //margin-top: calc(-100vh + 60px);
  }
  @media screen and ( min-height: 730px ){
    // margin-top: calc(-100vh + 80px);
  }
  @media screen and ( min-height: 750px ){
    // margin-top: calc(-100vh + 100px);
  }

  &.disclosure {
    margin-top: 0;
  }


  .overlay-container {
    background-color: $white;
    margin: 10px 10px 0 10px;
    padding: .25rem;
    min-height: 85vh;

    @include media-breakpoint-up(md) {
      margin: 20px 20px 0 20px;
      padding: 1rem
    }
    @include media-breakpoint-up(lg) {
      margin: 30px 30px 0 30px;
      padding: 1.5rem
    }
  }
}

.liquid-container,
.liquid-child {
  width: 100%;
  height: 100%;
}

.liquid-application {
  background-color: $gray-500;
  overflow: visible !important;
  min-height: 100vh;

  > .liquid-child {
    overflow: visible;
    min-height: 100vh;
  }
}

.firm,
.approach,
.results {
  color: $white;

  .element-text {
    padding: 1.5rem;
  }

  h3 {
    color: $white;
    margin-bottom: 1rem;
    font-size: (1.8rem * .9);

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
    }
  }

  ul {
    margin-bottom: 0rem;
    padding-left: 1rem;

    li {
      padding: 0;
      font-weight: 500;
      padding-bottom: 0.75rem;
      font-size: (1.1rem * .9);

      @include media-breakpoint-up(md) {
        font-size: 1.1rem;
      }
    }
   }

  > div {
    @extend .h-100;
  }

}
.firm .element-text {
  background-color: rgb(74,146,160);
}

.approach .element-text {
  background-color: rgb(30,76,101);
}

.results .element-text {
  background-color: rgb(156,165,80);
}


ul.planning {
  list-style: none;
  color: $white;
  background-color: rgb(43,72,88);
  padding: 0 1.5rem;
  max-width: 250px;
  margin: 0 auto 3rem;
  text-align: center;
  font-weight: 500;
  font-family: $font-family-sans-serif;


  li {
    list-style: none;
    margin: 0;
    line-height: 1.3;
    padding: .7rem 0;
    border-bottom: 1px solid $white;
    font-size: (1.3rem * .9);

    @include media-breakpoint-up(md) {
      font-size: 1.3rem;
    }

    &.last {
      border: 0;
    }
  }
}


.element-accordion {
  margin-bottom: 2rem;

  .accordion-title {
    background-color: rgba($card-bg, 0.1);

    &:hover,
    &:focus {
      background-color: rgba($card-bg, 0.15);
    }
    h5 {
      font-size: (1.3rem * .9);

      @include media-breakpoint-up(md) {
        font-size: 1.3rem;
      }

      a {
        display: inline-block;
        width: calc(100% - 40px);

        &:hover,
        &:focus {
          text-decoration: none;
          color: $blue;
        }
      }
      &:after {
        @extend .fas;
        content: '\f0d8';
        color: $blue;
        display: inline-block;
        float: right;
        padding-right: 1rem;
      }
    }
    &.collapsed {

      h5 {
        &:after {
          content: '\f0d7';
        }
      }
    }
  }
}

.bluepopup {
  background-color: rgb(43,72,88);
  color: $white;

  .logos {

  }

  .link {
    margin: 2.5rem 0 2rem;
    font-family: $font-family-sans-serif;
    font-weight: 500;

    @include media-breakpoint-up(md) {
      margin: 4.5rem 0 2rem;
    }

    a {
      color: $white;
      font-style: normal;
      font-size: 1.8rem;
      font-weight: 400;

      @include media-breakpoint-up(md) {
        font-size: 2.1rem;
      }


      span {
        border-bottom: 2px $white solid;
        font-size: 1.2rem;
      }
      i {
        font-size: 1.2rem;

      }

      &:hover,
      &:focus {
        text-decoration: none;
        color: $blue;

        span {
          border-color: $blue;

        }
      }
    }


  }

  .container-fluid .row {
    min-height: 400px;
    height: calc(100vh);
    padding-top: 125px;

    @include media-breakpoint-up(sm) {
      height: calc(100vh);
    }

    @include media-breakpoint-up(lg) {
      min-height: 450px;
      height: calc(100vh);
    }
  }
  .section-column {
    display: flex;
  }
}

.disclosure {
  top: 100px !important;
}


.responsive-embed {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 56.25%;


  > iframe,
  > object,
  > embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  }
}


.contact-content {
  @extend .order-3;
  @extend .order-md-1;
  @extend .align-self-md-center;
  @extend .col-12;
  @extend .col-md-4;
  @extend .col-lg-5;
  @extend .col-xl-6;
  font-family: $font-family-sans-serif;
  margin-top: 100px;

  // .row {
  //   min-height: calc(100vh - 100px);

  // }
}
