.snapshot {
  &.teaser {
    padding-bottom: 1.5rem;

    .image {
      border: 9px solid #edeeee;
      box-shadow: 8px 8px 20px rgba(2,1,11,.2);
      margin-bottom: 18px;

      img {
      }
    }
    .title {
      font-weight: 600;
      color: $blue;
      padding-left: 0.7rem;

      a {
        color: #994878;
        text-decoration: none;
        font-weight: 300;
      }
    }
  }
}
