<div class="overlay-container">
  {{#each page.section as |section|}}
    <PageSection @section={{section}} />
  {{/each}}
  {{liquid-outlet enableGrowth=false}}
</div>
<SnapDisplay @snap={{selectedSnapshot}} @snaps={{snapshots}} />