<div class="overlay-container">
  {{#each page.section as |section|}}
    {{page-section section=section selectSnapshot=(action 'selectSnapshot')}}
  {{/each}}
  {{liquid-outlet enableGrowth=false}}
</div>
{{#with (filter-by "displayOn" "clarity" snapshots) as |snaps|}}
  {{snap-display snap=selectedSnapshot snaps=snaps}}
{{/with}}