<div class="overlay-container">
  <div class="bread-nav">
    <div class="container-fluid">
      <div class='row'>
        <LinkTo @route="connections.blog" class="col text-left"><i class="fas fa-caret-circle-up"></i> Prio Blog</LinkTo>
      </div>
    </div>
  </div>
  <div class="blog-post">
    <div class="outer">
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class='row'>
            <div class='col-12'>
              <div class="title">
                <h1>{{blog.title}}</h1>
                <div class="sharing">
                </div>
              </div>
              <div class="body">
                {{html-safe blog.body.value}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>