<div class="overlay-container">
  <div class="bread-nav">
    <div class="container-fluid">
            <div class='row'>
        {{#link-to 'connections.in-the-news' class='col text-left'}}<i class="fas fa-caret-circle-up"></i>&nbsp;Prio In the News{{/link-to}}
      </div>
    </div>
  </div>
  {{#each page.section as |section|}}
    {{page-section section=section}}
  {{/each}}
  {{newsletter-listing newsletters=newsletters}}
  {{liquid-outlet enableGrowth=false}}
</div>
