<div class="overlay-container">
  <div class="bread-nav">
    <div class="container-fluid">
      <div class='row'>
        {{#link-to 'connections.in-the-news' class='col text-left'}}<i class="fas fa-caret-circle-up"></i> In the News{{/link-to}}
      </div>
    </div>
  </div>
  <div class="article-post">
    <div class="outer">
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class='row'>
            <div class='col-12'>
              <div class="title">
                <h1>{{article.title}}</h1>
              </div>
              <div class="body">
                {{html-safe article.body.value}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>