<div class="overlay-container">
  <div class="bread-nav">
    <div class="container-fluid">
      <div class='row'>
        <LinkTo @route="about.your-team" class="col text-left"><i class="fas fa-caret-circle-up"></i>&nbsp;Meet Your Team</LinkTo>
      </div>
    </div>
  </div>
  {{#each page.section as |section|}}
    <PageSection @section={{section}} />
  {{/each}}
  {{liquid-outlet enableGrowth=false}}
</div>
