<div class="overlay-container">
    <div class="content-wrapper">
        <div class="container-fluid">
          <div class='row'>
          {{#link-to 'about.how-different' class='col text-right'}}How We're Different{{/link-to}}
      </div>
    </div>
  </div>
  {{#each page.section as |section|}}
    {{page-section section=section selectSnapshot=(action 'selectSnapshot')}}
  {{/each}}
  {{liquid-outlet enableGrowth=false}}
</div>
{{snap-display snap=selectedSnapshot snaps=snapshots}}