<div class="overlay-container">
  <div class="bread-nav">
    <div class="container-fluid">
      <div class='row'>
        {{#link-to 'about.how-different' class='col text-left'}}<i class="fas fa-caret-circle-up"></i>&nbsp;How We're Different{{/link-to}}
        {{#link-to 'about.jobs' class='col text-right'}}Careers&nbsp;<i class="fas fa-caret-circle-down"></i>{{/link-to}}
      </div>
    </div>
  </div>
  {{#each page.section as |section|}}
    {{page-section section=section}}
  {{/each}}
  {{team-listing team=team}}
  {{liquid-outlet enableGrowth=false}}
</div>
