<div class="overlay-container">
  {{#each page.section as |section|}}
    {{page-section section=section}}
  {{/each}}
  {{news-listing articles=articles}}
  {{liquid-outlet enableGrowth=false}}
</div>
