<div class='slideover disclosure'>
  <div class="overlay-container">
    {{#each page.section as |section|}}
      <PageSection @section={{section}} />
    {{/each}}
    {{liquid-outlet enableGrowth=false}}
  </div>
</div>