  <section class="page-section bluepopup">
    <div class="outer d-flex align-items-center justify-content-center">
      <div class="overlay">
        <div class="content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="section-column align-items-center justify-content-center col-12">
                <div class="element-text col">
                  <div class="inner">
                    {{#link-to 'about'}}Start your journey{{/link-to}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


