  <section class="page-section bluepopup">
    <div class="outer d-flex align-items-center justify-content-center">
      <div class="overlay">
        <div class="content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="section-column align-items-center justify-content-center col-12">
                <div class="element-text col">
                  <div class="inner text-center">
                    <div class='logos'>
                      <img src='/img/landing-page.png' alt='Seward Management is now Prio Wealth'>
                    </div>
                    <div class='link'>
                      {{#link-to 'about'}}What are your priorities?&nbsp;<span>Enter</span>&nbsp;<i class="fas fa-arrow-right"></i>{{/link-to}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


