  <section class="page-section bluepopup">
    <div class="outer d-flex align-items-center justify-content-center">       
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="section-column align-items-center justify-content-center">
              <div class="element-text">
                <div class="inner text-center">
                  <div class='logos col-12'>
                    <img src='/img/landing-page.png' alt='Seward Management is now Prio Wealth'>
                  </div>
                  <div class='link col-12'>
                    {{#link-to 'about'}}What are your priorities?&nbsp;&nbsp;<span>Enter</span>&nbsp;<i class="fas fa-arrow-right"></i>{{/link-to}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


